<body>
  <div class="container">
      <header>Header</header>
      <main> <!-- Cuerpo con desplazamiento -->
          <!-- Contenido del cuerpo -->
          <h1>{{ title }} </h1>
<br>

<input type="text" required [(ngModel)]="newTask"/>
<button (click)="addTask()">Agregar Tarea</button>

<br>
<ul class="tasksList">
  <li *ngIf="tasks.length === 0">No hay tareas por hacer</li>
  <li *ngFor="let task of tasks; index as i">
    {{ i + 1 }} 
    <input type="checkbox" class="taskCheckbox" id="task{{i}}" [(ngModel)]="task.completed">
    <label for="task{{i}}">{{ task.name }}</label>
     <button type="button" class="tasksListButton" (click)="doneTask(i)">Eliminar</button>
  </li>
</ul>

          <!-- ... Más contenido ... -->
      </main>
      <footer>Giancarlos Guedez</footer>
  </div>
</body>



